/*test*/

body {
    background-color: darkslategray;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Century Schoolbook';
}

#logo-bar {
    width: 1000px;
    height: 80px;
    margin-bottom: 15px;
}

#header-name {
    font-size: 40px;
    color:azure;
    padding: 15px;
    margin: auto;
    text-align: center;

}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    margin-right: 10px;
    float: left;
}

#search {
    float: right;
    padding: 5px;
    margin: 10px 10px 0px 0px;
}

#main-image {
    width: 700px;
    height: 250px;
    float: left;
}

#side-image {
    width: 300px;
    height: 250px;
    float: right;
}
#welcome {
    width: 700px;
    float: left;
    margin: 20px 0px 20px 0px;
    color: azure;
   
}

#recent-news {
    float: right;
    width: 300px;
    margin: 20px 0px 20px 0px;
}

#recent-news > header {
    margin-left: 5px;
    color:antiquewhite;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}
footer {
    width: 100%;
    background-color:antiquewhite;
    margin: 20px 0px 20px 0px;
    padding: 5px 0px 0px 0px;
    border-radius: 5px;
}

